:root {
  --rhythm: 30px;
}

*, html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

strong {
  font-weight: bold;
}

.flex {
  display: flex;
}

header {
  position: absolute;
  width: 100%;
  overflow: hidden;
  padding: 20px 50px 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #CEA78E;
  height: 72px;
  box-sizing: border-box;
  box-shadow: -3px -28px 18px 24px rgba(0,0,0,0.75);
}

.header__title {
  margin: 0 auto;
}

.header__title, .header__menu {
  color: #251205;
  font-size: 3rem;
}

.header__menu--button {
  padding: 0;
  margin: 0;
  background-color: unset;
  border: none;
}

main {
  padding: 92px 20px 20px 20px;
  min-height: 100vh;
  height: 100%;
  background-color: #FFEBDE;
  z-index: 0;
  color: #583722;
  box-sizing: border-box;
}

.quiz__button {
  height: 40px;
  background-color: #eedacd;
  color: #583722;
  border: 1px solid #583722;
  border-radius: 4px;
  outline: none;
}
.quiz__button-submit {
  margin-top: 20px;
  margin-left: calc(50% - 45px);
  width: 90px;
  height: 30px;
  font-size: 1.8rem;
}

.quiz-start__button {
  position: absolute;
  padding: 0 10px 0 10px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: row;
}
.quiz-start__button:active {
  transition: .050s ease-in-out;
  background-color: #ddc9bc;
}
.quiz-start__text {
  padding-left: 10px;
  font-size: 1.8rem;
}
.quiz-start__icon {
  font-size: 2rem
}

.fade-overlay__modal, .fade-overlay__nav {
  transition: 0.5s cubic-bezier(0, 0.01, 1, 1.01);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-color: black;
  opacity: 0;
}
.fade-overlay__nav--show, .fade-overlay__modal--show {
  transition: 0.5s cubic-bezier(0, 0.01, 1, 1.01);
  opacity: 0.4;
  z-index: 50; /*between main screen and other screens*/
}

.modal {
  position: absolute;
  padding: 15px;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 238px;
  height: 144px;
  background-color: #FFEBDE;
  border-radius: 4px;
  color: #251205;
  opacity: 0;
}

.modal--show {
  transition: 0.5s cubic-bezier(0, 0.01, 1, 1.01);
  top: 150%; /* bad solution, preferably sticky... */
  opacity: 1;
  z-index: 999999999;
}

.modal__score {
  font-size: 2.0rem;
  color: #251205;
  padding-top: 10px;
}

.modal__button--continue, .modal__button--restart {
  height: 24px;
  position: absolute;
  bottom: 15px;
  font-size: 1.6rem;
  font-weight: bold;
}

.modal__button--continue {
  right: 15px;
}

.modal__button--restart {
  left: 15px;
}
nav {
  padding: 20px;
  transition: left 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: -90%;
  width: 80%;
  height: 100vh;
  z-index: 99; /*has to always be on top*/
  background-color: #FFEBDE;
  box-shadow: -3px 0px 18px 0px rgba(0,0,0,0.75);
  box-sizing: border-box;
}

.nav--show {
  transition: left 0.5s ease-in-out;
  left: 0;
}

.nav__header {
  flex-direction: column;
  padding: 80px 0 20px 0;
  width: 100%;
  height: 24rem;
  box-sizing: border-box;
  color: #583722;
}
.nav__title {
  font-size: 3rem;
  padding-bottom: 10px;
}

.nav__description {
  font-size: 1.6rem;
}

nav a {
  padding-left: 10px;
  margin: 4px 0 4px 0;
  color: #583722;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 3.6rem;
  box-sizing: border-box;
  background-color: #eedacd;
  border-radius: 4px;
}

.nav__navigation {
  flex-direction: column;
}

/* statistics screen */
.stats__heading {
  padding: 20px 0 4px 0;
  font-size: 1.8rem;
}

.stats__stats {
  font-size: 2.4rem;
}

/* about */
.about__text {
  padding-top: 20px;
  font-size: 1.8rem;
}

/* quiz */
.quiz__header {
  font-size: 2.4rem;
  font-weight: bold;
  padding-bottom: 10px;
}

.quiz__question-container {
  display: block; /* padding only works on spans if display:block/inline-block */
  padding: 10px 0 10px 0;
  font-size: 1.8rem;
}

.quiz__question-answer {
  font-size: 1.6rem;
}

.quiz__answer-container {
  padding-bottom: 8px;
}

.quiz__radiobtn {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}