:root {
  --rhythm: 30px;
}

*, html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

.header {
  position: absolute;
  width: 100%;
  overflow: hidden;
  padding: 20px 50px 20px 20px;
  flex-direction: row;
  align-items: center;
  background-color: #CEA78E;
  height: 72px;
  box-sizing: border-box;
  box-shadow: -3px -28px 18px 24px rgba(0,0,0,0.75);
}

.header__title {
  margin: 0 auto;
}

.header__title, .header__menu {
  color: #251205;
  font-size: 3rem;
}

.header__menu-button {
  padding: 0;
  margin: 0;
  background-color: unset;
  border: none;
}

/* main */

main {
  padding: 92px 20px 20px 20px;
  min-height: 100vh;
  height: 100%;
  background-color: #FFEBDE;
  z-index: 0;
  color: #583722;
  box-sizing: border-box;
}

.quiz__header {
  font-size: 2.4rem;
  font-weight: bold;
  padding-bottom: 10px;
}

.quiz__question-container {
  padding: 10px 0 10px 0;
  font-size: 1.8rem;
}

.quiz__answer-container {
  padding-bottom: 8px;
}

.quiz__radio {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}

.quiz__answer {
  font-size: 1.6rem;
}

.quiz__button {
  height: 40px;
  background-color: #eedacd;
  color: #583722;
  border: 1px solid #583722;
  border-radius: 4px;
  outline: none;
}

.quiz__submit {
  margin-top: 20px;
  margin-left: calc(50% - 45px);
  width: 90px;
  height: 30px;
  font-size: 1.8rem;
}

.quiz__submit--disabled {
  opacity: 0.6;
}

.quiz__start {
  position: absolute;
  padding: 0 10px 0 10px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: row;
}

.quiz__start-text { /* not sure about these names */
  padding-left: 10px;
  font-size: 1.8rem;
  padding-top: 2px;
}

.quiz-start-icon {
  font-size: 2rem
}

/* navigation */

.nav {
  padding: 20px;
  transition: left 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: -90%;
  width: 80%;
  height: 100vh;
  z-index: 99;
  background-color: #FFEBDE;
  box-shadow: -3px 0px 18px 0px rgba(0,0,0,0.75);
  box-sizing: border-box;
}

.nav--show {
  transition: left 0.5s ease-in-out;
  left: 0;
}

.nav__header {
  flex-direction: column;
  padding: 80px 0 20px 0;
  width: 100%;
  height: 24rem;
  box-sizing: border-box;
  color: #583722;
}

.nav__title {
  font-size: 3rem;
  padding-bottom: 10px;
}

.nav__description {
  font-size: 1.6rem;
}

.nav__navigation {
  flex-direction: column;
}

.nav__navigation-button {
  padding-left: 10px;
  margin: 4px 0 4px 0;
  color: #583722;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 3.6rem;
  box-sizing: border-box;
  background-color: #eedacd;
  border-radius: 4px;
  border: none;
  outline: none;
  text-align: left;
}

.nav__aria--exit {
  pointer-events: none;
}

/* statistics screen */

.stats__heading {
  padding: 20px 0 4px 0;
  font-size: 1.8rem;
}

.stats__stats {
  font-size: 2.4rem;
}

/* about */

.about__text {
  padding-top: 20px;
  font-size: 1.8rem;
}

/* miscellaneous */

strong {
  font-weight: bold;
}

.flex {
  display: flex;
}

.fade-overlay__modal, .fade-overlay__nav {
  transition: 0.5s linear;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-color: black;
  opacity: 0;
}
.fade-overlay__nav--show, .fade-overlay__modal--show {
  transition: 0.5s linear;
  opacity: 0.4;
  z-index: 50;
}

.modal {
  position: fixed;
  padding: 15px;
  width: 238px;
  height: 144px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background-color: #FFEBDE;
  border-radius: 4px;
  z-index: -999999;
  color: #251205;
  opacity: 0;
}

.modal--show {
  transition: 0.5s linear;
  opacity: 1;
  z-index: 999999999;
}

.modal__score {
  font-size: 2.0rem;
  color: #251205;
  padding-top: 10px;
}

.modal__continue, .modal__restart {
  height: 24px;
  position: absolute;
  bottom: 15px;
  font-size: 1.6rem;
  font-weight: bold;
}

.modal__continue {
  right: 15px;
}